.contacts{
    display: block;
    width: 46%;
    background-color: rgba(255, 252, 240, 0.945);
    margin: auto;
    padding-top: 10px;
    text-align: center;
    border: 0.5px;
    border-color: #f3dc0960;
    border-style: outset;
}
.search{
    padding: 10px;
    font-size: 20px;   
    text-align: left;
    justify-content: center;
    background-color: #cececeab;
    border:none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.table{
    margin: auto; 
    /* border: 1px solid rgb(53, 54, 53);  */
    margin-top: 20px;
    border-collapse: collapse;
} 
.table_body{
    text-align: left;
}
.title{
    text-align: center;
}
.top{
    font-size: 22px;
    color: #1c2150;
    padding: 10px;
    background-color: #cececeab;
    font-family: 'Wix Madefor Display', sans-serif;
}
.main{
    font-size: 20px;
    padding: 10px;
    font-family: 'Wix Madefor Display', sans-serif;
    color: rgb(59, 59, 59);
    background-color: #cccccc2d;
}